<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Sitio Web</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <div class="text-center">
                            <i class="bi bi-house-door" style="font-size: 6rem; color: #ffff"></i>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/clientes" routerLinkActive="activebutton">
                                <i class="fas fa-home" style="color:#3ca1e0"></i> Inicio
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" routerLink="/clientes" routerLinkActive="activebutton"
                                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-fill-add" style="color: #ba78ab"></i> Agregar clientes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
                                style="background-color: #55585e">
                                <li><a class="dropdown-item" data-bs-toggle="modal"
                                        data-bs-target="#personaMoralModal">Persona
                                        moral</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="/productos" routerLinkActive="activebutton">
                                <i class="fas fa-shopping-cart" style="color: #f29b52"></i> Productos
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="/facturacion">
                                <i class="bi bi-file-earmark-ruled-fill" style="color: #7fb558"></i> Facturar
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Contenido principal -->
            <div id="clientes" class="section bg-light col-md-9 ms-sm-auto col-lg-10">
                <div class="container row justify-content-center">
                    <div class="col-lg-8">
                        <div class="clientes-form">
                            <h2 class="text-center">Ingrese sus datos</h2>
                            <!-- Formulario para agregar clientes -->
                            <form id="formularioClientes" class="row g-3">
                                <div class="col-md-6">
                                    <label for="nombre" class="form-label">Nombre(s): </label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label for="apellido" class="form-label">Primer apellido: </label>
                                    <input type="text" class="form-control" id="apellido"
                                        placeholder="Ingresa tu primer apellido" required>
                                </div>

                                <div class="col-md-6">
                                    <label for="apellido2" class="form-label">Apellido materno: </label>
                                    <input type="text" class="form-control" id="apellido2"
                                        placeholder="Ingresa tu segundo apellido">
                                </div>

                                <div class="col-md-6">
                                    <label for="rfc" class="form-label">RFC: </label>
                                    <input type="text" class="form-control" id="rfc" placeholder="XXXX101010XX0"
                                        required>
                                </div>
                                <div class="col-md-4">
                                    <label for="cp" class="form-label">Código postal</label>
                                    <input type="text" class="form-control" id="cp" placeholder="12345" required>
                                </div>
                                <div class="col-md-8">
                                    <label for="direccion" class="form-label">Dirrección</label>
                                    <input type="text" class="form-control" id="direccion" placeholder="1234 Main St"
                                        required>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary col-md-4 " onclick="agregarCliente()">
                                        <i class="bi bi-person-plus"></i> Agregar Cliente
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para Persona física -->
            <div class="modal fade" id="personaMoralModal" tabindex="-1" aria-labelledby="personaMoralModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">...
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="text-center">Ingrese sus datos</h2>
                        </div>
                        <div class="modal-body">
                            <div class="clientes-form">
                                <!-- Formulario para agregar clientes -->
                                <form id="formularioClientes" class="row g-3">
                                    <div class="col-md-6">
                                        <label for="razonSocial" class="form-label">Razón social: </label>
                                        <input type="text" class="form-control" id="razonSocial"
                                            placeholder="Ej: LA VILLA ESP0" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="rfc" class="form-label">RFC: </label>
                                        <input type="text" class="form-control" id="rfc" placeholder="XXXX101010XX0"
                                            required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="cp" class="form-label">Código postal</label>
                                        <input type="text" class="form-control" id="cp" placeholder="12345" required>
                                    </div>
                                    <div class="col-md-8">
                                        <label for="direccion" class="form-label">Dirrección</label>
                                        <input type="text" class="form-control" id="direccion"
                                            placeholder="1234 Main St" required>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-primary col-md-4"
                                            onclick="agregarCliente()">
                                            <i class="bi bi-person-plus"></i> Agregar Cliente
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/js/bootstrap.min.js"></script>

    <script>

        function agregarCliente() {
            // Captura de los valores del formulario
            var nombre = document.getElementById("nombre").value;
            var apellido = document.getElementById("apellido").value;
            var apellido2 = document.getElementById("apellido2").value;
            var rfc = document.getElementById("rfc").value;
            var cp = document.getElementById("cp").value;
            var direccion = document.getElementById("direccion").value;

            // Crea el elemento <option>
            var option = document.createElement("option");

            // Establece el texto del <option> con los datos del cliente
            option.text = nombre + " " + apellido + " " + apellido2;
            document.getElementById("listaClientes").appendChild(option);

            // Limpia el formulario
            document.getElementById("formularioClientes").reset();
        }
    </script>
</body>

</html>